<div class="carousel">
  <button class="carousel__button carousel__button--left"><-</button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide">
        <img class="carousel__image" src="/assets/png/1.png" alt="" />
      </li>
      <li class="carousel__slide">
        <img class="carousel__image" src="/assets/png/2.png" alt="" />
      </li>
      <li class="carousel__slide">
        <img class="carousel__image" src="/assets/png/3.png" alt="" />
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">-></button>

  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>
